html {
  font-size: 2em;
  font-family: "Times New Roman";
  color: blue;
  background-color: blue; 
}
h1 {
  text-align: left;
  color: gray;
}
p {
  border: 1px solid blue;
  padding: 10px;
  line-height: 2;
}
img {
  border-image-width:42px;
}
